.container-content{
    border-top: 1px solid white;
    width: 100%;


    margin-top: 20px;

    display: flex;
    flex-direction: column;


    align-items: center;
}

.content-cover > img{
    margin-top: 10px;
    border: 5px solid rgb(144, 144, 144);
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}

.content-description{
    margin-top: 15px;
    width: 80%;
}

.content-description > p{
    color: rgb(167, 162, 162);
}

.content-voltar{
    margin-top: 15px;
}